.plugBoard-wrapper {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.plugBoard-wrapper .plug-settings {
    font-size: 40px;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 20px;
    animation: fade 1s ease-in-out forwards;
}

.plugBoard-wrapper .plug-board {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap:10px;
}

.plugBoard-wrapper .plug-board button {
    width: 60%;
    height: 100%;
    margin-bottom:5px;
    background-color: white;
    transition: 1s ease-in-out;
    border:1px solid black;
    animation: fade 1s ease-in-out forwards;
}

.plugBoard-wrapper .plug-board button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.plugBoard-wrapper .enablePlug button {
    background-color: lightgreen;
    border: transparent;
    color: white;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 1s ease-in-out;
}

.plugBoard-wrapper .enablePlug button:hover {
    box-shadow: 1px 2px 1px black;
    cursor: pointer;
}

.plugBoard-wrapper .enablePlug button:focus {
    box-shadow: none;
}


@media (max-device-width: 575px) {
    .plugBoard-wrapper .plug-board {
        margin-top: 30px;
        display: grid;
        width: 50%;
        grid-template-columns: repeat(20, 1fr);
        grid-gap:5px;
    }

}